{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <nav class='shadow-lg'>
            <div class='px-4 mx-auto'>
                <div class='flex justify-between'>
                    <div>
                        <a class='flex space-x-3' href=''>
                            <img class='h-8 w-8' src='{% static "images/instagramphoto.png" %}'>
                            <span class='font-semibold text-lg text-gray-500'>Photo App</span>
                        </a>
                    </div>
                    <div class='space-x-1'>
                        {% if request.user.is_authenticated %}
                        Welcome, {{ logged_user }}!
                        <a class='py-4 px-2 text-gray-500 font-semibold text-lg' href='{% url "logout" %}'>Logout</a>
                        {% else %}
                        <a class='py-4 px-2 text-gray-500 font-semibold text-lg' href='{% url "register" %}'>Register</a>
                        <a class='py-4 px-2 text-gray-500 font-semibold text-lg' href='{% url "login" %}'>Login</a>
                        {% endif %}
                        <a class='py-4 px-2 text-gray-500 font-semibold text-lg' href='{% url "feed" %}'>Posts</a>
                    </div>
                </div>
            </div>
        </nav>
       
       {% block content %}
       {% endblock %}
    </body>
</html>