{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
       {% if request.user.is_authenticated %}
           <a href='{% url "logout" %}'>Logout</a>
       {% else %}
        <a href='{% url "login" %}'>Login</a>
       {% endif %}
       {% block content %}
       {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>