{% extends 'users/base.html' %}

{% block content %}
<h2 class='text-2xl m-10 font-bold'>🔑 Change Password</h2>
<div class='container py-5 mx-10'>
    <div class='error-container text-red-500 px-10'>
        {% if form.errors %}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        {% endif %}
    </div>
    <form  method="POST" enctype="multipart/form-data" class='bg-white shadow-md m-5 px-8 w-4/5 rounded'>
        {% csrf_token %}
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>Old Password</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.old_password }}
            </div>
        </div>
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>New password</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.new_password1 }}
            </div>
        </div>
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>Confrim New Password</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.new_password2 }}
            </div>
        </div>
    
        <button class='text-white bg-green-500 px-5 my-5 py-2' type="submit">Submit</button>
    </form>
</div>
   
{% endblock %}
