{% extends 'users/base.html' %}

{% block content %}

<h2 class='text-2xl m-10 p-5 font-bold'>🌞 Create a Post</h2>
<div class='container py-5 mx-10'>
    <form  method="POST" class='bg-white shadow-md m-5 px-8 w-4/5 rounded' enctype="multipart/form-data">
        {% csrf_token %}
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>Image</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.image }}
            </div>
        </div>
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>Title</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.title }}
            </div>
        </div>
        <div class='mb-2'>
            <label class='block text-gray-700 text-sm font-bold mb-2'>Caption</label>
            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700'>
                {{ form.caption }}
            </div>
        </div>
        
        <button class='text-white bg-green-500 px-5 my-5 py-2' type="submit">Submit</button>
    </form>
</div>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Post</button>
    </form>
{% endblock %}