{% extends 'users/base.html' %}
{% load static %}

{% block content %}
       <div class='flex justify-center mt-5 p-10'>
        <h2 class='text-3xl font-normal mb-2 text-gray-500'>My Posts</h2>
       </div>
       <div class='grid grid-cols-1 mx-60 p-10'>
        {% for post in posts %}
            <a href=''>
                
                <div class='rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg'>
                <div class='user-container flex mb-5'>
                    <img class='w-10 h-10' src="{{ post.user.profile.photo.url }}">
                    <div class='mx-2 my-2 font-bold'><span class='text-indigo-500'>{{ post.user }}</span></div>
                </div>
                    <img src='{{ post.image.url }}'>
                </div>
                <div class='px-6 py-4'>
                    <div class='icon-container flex gap-3'>
                        <img class='w-10 h-10' src='{% static "images/heart.jpg" %}'>
                        <img class='w-10 h-10' src='{% static "images/comment2.png" %}'>
                        <img class='w-10 h-10' src='{% static "images/share3.png" %}'>
                    </div>
                </div>
                <div class='px-6 py-4'>
                    <div class='font-bold text-xl mb-2'>{{ post.title }}</div>
                    <p class='text-gray-700 text-base'>{{ post.caption }}</p>
                </div>
            </a>
        {% endfor %}
       </div>
    
{% endblock %}
